@use '../helpers' as *;

.icon {
  display: inline-flex;
  text-align: center;
  column-gap: #{rem(10)};

  &::after {
    --size: #{rem(24)};

    @include square(var(--size));

    content: '';
    flex-shrink: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__yellow-arrow {
    &::after {
      background: url('../../icons/arrow-line_yellow.png');
    }
  }
}