@charset "UTF-8";
@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Regular";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Medium";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter SemiBold";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Bold";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  display: flex;
  flex-direction: column;
  width: 100% !important;
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-gray-50);
  background-color: var(--color-dark);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-light);
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-weight: 400;
  font-family: var(--font-family-accent);
}

h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 500;
}

h1, .h1 {
  font-size: clamp(1.875rem, 1.237745098rem + 2.614379085vw, 4.375rem);
  line-height: 1.2;
}

h2, .h2 {
  font-size: clamp(1.75rem, 1.2720588235rem + 1.9607843137vw, 3.625rem);
  line-height: 1.3;
}

h3, .h3 {
  font-size: clamp(1.5rem, 1.2450980392rem + 1.045751634vw, 2.5rem);
}

h4, .h4 {
  font-size: clamp(1.125rem, 0.9975490196rem + 0.522875817vw, 1.625rem);
}

h5, .h5 {
  font-size: clamp(1.125rem, 1.0294117647rem + 0.3921568627vw, 1.5rem);
}

h6, .h6 {
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
}

a,
button,
input,
label,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

a[aria-label], button[aria-label] {
  position: relative;
}
a[aria-label]::before, button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

.main {
  flex-grow: 1;
}

.section-badge {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.375rem 0.625rem;
  border-radius: 0.25rem;
  width: 12.6875rem;
  text-align: center;
  background-color: var(--color-dark-20);
  color: var(--color-light);
}
@media (width <= 90.06125rem) {
  .section-badge {
    font-size: 1rem;
  }
}
@media (width <= 63.99875rem) {
  .section-badge {
    font-size: 0.875rem;
  }
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

.full-vw-width {
  position: relative;
}
.full-vw-width::before, .full-vw-width::after {
  position: absolute;
  width: calc((100vw - var(--container-width)) / 2);
  height: 0.0625rem;
  background-color: var(--color-dark-15);
}
.full-vw-width--top::before {
  content: "";
  bottom: 100%;
}
.full-vw-width--bottom::after {
  content: "";
  top: 100%;
}
.full-vw-width--left::before, .full-vw-width--left::after {
  right: 100%;
}
.full-vw-width--right::before, .full-vw-width--right::after {
  left: 100%;
}

:root {
  --color-light: #FFFFFF;
  --color-dark: #141414;
  --color-dark-10: #1A1A1A;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-40: #666666;
  --color-gray-50: #7E7E81;
  --color-gray-60: #98989A;
  --color-accent: #FFD11A;
  --color-red: #FF5500;
  --gradient: linear-gradient(45deg, var(--color-dark-15) 64%, var(--color-accent) 136%);
  --font-family-base: "Inter", sans-serif;
  --font-family-accent: "Kumbh Sans", sans-serif;
  --container-width: 100rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
  --border: 0.0625rem solid var(--color-dark-15);
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 80rem;
  }
}

.burger-button {
  width: 2.125rem;
  height: 2.125rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.53125rem 0.265625rem;
  color: var(--color-light);
  background-color: transparent;
  border: none;
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    color: var(--color-accent);
  }
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.25em -0.15em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  width: 0;
}
.burger-button__line {
  width: 100%;
  height: 0.125rem;
  border-radius: 3rem;
  background-color: currentColor;
  transition-duration: var(--transition-duration);
}
.burger-button__line:last-child {
  align-self: self-end;
  width: 55%;
}

.button {
  display: inline-flex;
  justify-content: center;
  padding: 0.875rem 1.25rem;
  font-size: 1.125rem;
  border: var(--border);
  border-radius: 0.625rem;
  background-color: var(--color-dark);
  color: var(--color-gray-60);
  white-space: nowrap;
}
@media (width <= 90.06125rem) {
  .button {
    padding: 0.625rem 0.875rem;
    font-size: 14;
    border-radius: 0.375rem;
  }
}
@media (any-hover: hover) {
  .button:hover {
    color: var(--color-accent);
    background-color: var(--color-dark-10);
    border-color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .button:active {
    color: var(--color-accent);
    background-color: var(--color-dark-10);
    border-color: var(--color-accent);
  }
}
.button-accent {
  font-weight: 500;
  color: var(--color-dark);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  border-radius: 0.5rem;
}

.icon {
  display: inline-flex;
  text-align: center;
  column-gap: 0.625rem;
}
.icon::after {
  --size: 1.5rem;
  width: var(--size);
  height: var(--size);
  content: "";
  flex-shrink: 0;
  background-image: url(../../icons/yellow-arrow-icon.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo__image {
  height: 3.125rem;
}
@media (width <= 90.06125rem) {
  .logo__image {
    max-width: 8.9375rem;
    height: 2.5rem;
  }
}
@media (width <= 47.99875rem) {
  .logo__image {
    max-width: 7.8125rem;
    height: 2.1875rem;
  }
}

.header {
  position: sticky;
  z-index: 3;
  top: 0;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-range: 3.125rem 12.5rem;
  animation-timeline: scroll();
}
@keyframes scrolling-header {
  to {
    box-shadow: 0 0 1rem 0 var(--color-dark-40);
  }
}
.header__promo {
  padding-block: 1.25rem;
  text-align: center;
  background-color: var(--color-dark);
  border-bottom: var(--border);
}
@media (width <= 90.06125rem) {
  .header__promo {
    padding: 0.875rem 0;
  }
  .header__promo-link {
    font-size: 0.875rem;
  }
}
@media (width <= 47.99875rem) {
  .header__promo {
    padding-block: 0.875rem;
  }
  .header__promo .icon {
    font-size: 0.75rem;
    text-align: center;
  }
  .header__promo .icon::after {
    display: none;
  }
}
.header__body {
  padding: 1.5rem 0;
  background-color: var(--color-dark-10);
}
.header__body-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  padding: 0;
}
@media (width <= 90.06125rem) {
  .header__body {
    padding: 1.25rem 1rem;
  }
}
@media (width <= 47.99875rem) {
  .header__body {
    padding: 1.25rem 1rem;
  }
}
@media (width > 47.99875rem) {
  .header-overlay {
    display: contents;
  }
}
@media (width <= 47.99875rem) {
  .header-overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    padding: 1rem;
    background-color: var(--color-dark-10);
    transition-duration: var(--transition-duration);
    inset: 0;
  }
  .header-overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
@media (width <= 47.99875rem) {
  .header__menu {
    overflow-y: auto;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
@media (width <= 90.06125rem) {
  .header__menu-list {
    column-gap: 0.375rem;
  }
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.header__menu-link {
  font-size: 18px;
  padding: 0.875rem 1.5rem;
  line-height: 1.6875rem;
  color: var(--color-gray-50);
}
@media (width <= 90.06125rem) {
  .header__menu-link {
    font-size: 0.875rem;
    padding: 0.625rem 1.125rem;
  }
}
@media (width <= 47.99875rem) {
  .header__menu-link {
    padding: 0.5rem 0.875rem;
  }
}
.header__menu-link.is-active {
  border: var(--border);
  border-radius: 0.625rem;
  line-height: 1.6875rem;
  height: 3.4375rem;
  background-color: var(--color-dark);
  color: var(--color-light);
}
@media (width <= 90.06125rem) {
  .header__contact-link {
    padding: 0.625rem 0.875rem;
    font-size: 0.875rem;
  }
}
@media (width <= 47.99875rem) {
  .header__contact-link {
    font-size: 0.875rem;
    width: 100%;
    max-width: 18.75rem;
    align-self: center;
  }
}

.footer {
  color: var(--color-dark-40);
}
.footer-body {
  border-bottom: var(--border);
  padding-block: clamp(2.5rem, 1.862745098rem + 2.614379085vw, 5rem);
}
.footer-menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: start;
  column-gap: clamp(1.25rem, 0.2941176471rem + 3.9215686275vw, 5rem);
}
@media (width <= 63.99875rem) {
  .footer-menu {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
  }
}
@media (width <= 47.99875rem) {
  .footer-menu {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.25rem;
  }
}
.footer-menu__column {
  display: grid;
  row-gap: clamp(1rem, 0.681372549rem + 1.3071895425vw, 2.25rem);
}
@media (width <= 63.99875rem) {
  .footer-menu__column:last-child {
    grid-column: -1/1;
  }
  .footer-menu__column:last-child .footer-menu__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
  }
}
.footer-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.5rem, 0.3406862745rem + 0.6535947712vw, 1.125rem);
}
.footer-menu__list .footer-menu__item {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.footer-extra {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  padding-block: 2.5rem;
}
@media (width <= 90.06125rem) {
  .footer-extra {
    padding-block: 1.5rem;
  }
}
@media (width <= 47.99875rem) {
  .footer-extra {
    flex-direction: column;
    gap: 1.25rem;
  }
}
.footer-extra__menu-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
}
.footer-extra__menu-link {
  font-size: 1.125rem;
}
@media (width <= 90.06125rem) {
  .footer-extra__menu-link {
    font-size: 0.875rem;
  }
}
.footer-copyright {
  font-size: 1.125rem;
}
@media (width <= 90.06125rem) {
  .footer-copyright {
    font-size: 0.875rem;
  }
}

.badge {
  display: inline-flex;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  background: linear-gradient(var(--color-dark-10), var(--color-dark-10)) padding-box, var(--gradient) border-box;
  color: var(--color-light);
}
@media (width <= 90.06125rem) {
  .badge {
    font-size: 0.875rem;
    border-radius: 0.25rem;
    padding: 0.125rem 0.625rem;
  }
}

@media (width <= 47.99875rem) {
  .socials {
    order: -1;
  }
}
.socials-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  column-gap: 1.25rem;
}
@media (width <= 90.06125rem) {
  .socials-list {
    column-gap: 0.875rem;
  }
  .socials-list::before {
    display: none;
  }
}
.socials-item {
  display: flex;
}
.socials-link {
  color: var(--color-light);
}
@media (width <= 47.99875rem) {
  .socials-link {
    width: 1.25rem;
    height: 1.25rem;
  }
}

@media (width > 63.99875rem) {
  .hero-main {
    display: grid;
    grid-template-columns: 60% auto;
  }
}
.hero-main__body {
  padding-top: 9.375rem;
}
@media (width <= 90.06125rem) {
  .hero-main__body {
    padding-top: 6.25rem;
  }
}
@media (width <= 63.99875rem) {
  .hero-main__body {
    padding-block: 2.5rem 0;
  }
}
.hero-main__body .section-title {
  font-family: var(--font-family-accent);
  font-weight: 500;
  color: var(--color-light);
  margin-bottom: 1.25rem;
}
@media (width <= 90.06125rem) {
  .hero-main__body .section-title {
    font-size: 3.4375rem;
    margin-bottom: 0.875rem;
  }
}
@media (width <= 47.99875rem) {
  .hero-main__body .section-title {
    font-size: 1.875rem;
    margin-bottom: 0.625rem;
  }
}
.hero-main__body .section-subtitle {
  font-size: clamp(1.125rem, 0.9338235294rem + 0.7843137255vw, 1.875rem);
  font-family: var(--font-family-accent);
  font-weight: 500;
  color: var(--color-dark-40);
  margin-bottom: 1.875rem;
}
@media (width <= 90.06125rem) {
  .hero-main__body .section-subtitle {
    font-size: 1.375rem;
    margin-bottom: 1.25rem;
  }
}
@media (width <= 47.99875rem) {
  .hero-main__body .section-subtitle {
    font-size: 1.125rem;
    margin-bottom: 0.875rem;
  }
}
.hero-main__body .section-description p {
  font-weight: 400;
  color: var(--color-dark-50);
}
@media (width <= 90.06125rem) {
  .hero-main__body .section-description p {
    font-size: 1rem;
  }
}
@media (width <= 47.99875rem) {
  .hero-main__body .section-description p {
    font-size: 0.875rem;
  }
}
.hero-main .metrics {
  border-top: var(--border);
  margin-top: 6.25rem;
}
.hero-main .metrics-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (width <= 63.99875rem) {
  .hero-main .metrics::before {
    width: 100vw;
    right: calc(var(--container-padding-x) * -1);
  }
}
.hero-main .metrics-item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  row-gap: 0.625rem;
  padding: 3.125rem;
}
.hero-main .metrics-item:first-child {
  padding-left: 0;
}
.hero-main .metrics-item:not(:last-child) {
  border-right: var(--border);
}
@media (width <= 90.06125rem) {
  .hero-main .metrics-item {
    row-gap: 0.125rem;
    padding: 1.875rem;
  }
}
@media (width <= 63.99875rem) {
  .hero-main .metrics-item {
    row-gap: 0;
    padding: 1.25rem;
  }
}
.hero-main .metrics-item .metrics-key {
  font-size: 1.125rem;
}
@media (width <= 90.06125rem) {
  .hero-main .metrics-item .metrics-key {
    font-size: 0.875rem;
  }
}
.hero-main .metrics-item .metrics-value {
  font-weight: 600;
  font-size: 2.5rem;
}
@media (width <= 90.06125rem) {
  .hero-main .metrics-item .metrics-value {
    font-size: 1.875rem;
  }
}
.hero-main .metrics-sign {
  color: var(--color-accent);
}
.hero-main .preview {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  row-gap: 1.875rem;
  padding-left: 5rem;
  padding-bottom: 5rem;
  background: url("../../images/preview-bg.png") 0/cover no-repeat;
}
@media (width <= 90.06125rem) {
  .hero-main .preview {
    row-gap: 1.25rem;
    padding-left: 3.125rem;
    padding-bottom: 3.125rem;
  }
}
@media (width <= 63.99875rem) {
  .hero-main .preview {
    width: 100vw;
    padding-top: 6.25rem;
    margin-left: calc(var(--container-padding-x) * -1);
    background-size: contain;
  }
}
.hero-main .preview .team {
  --personImageSize: 3.75rem;
  display: flex;
  border: var(--border);
  border-radius: 6.25rem;
  padding: 0.625rem;
  background-color: var(--color-dark-10);
}
@media (width <= 90.06125rem) {
  .hero-main .preview .team {
    --personImageSize: 3.125rem;
    padding: 0.5rem;
  }
}
.hero-main .preview .team-person {
  width: var(--personImageSize);
  height: var(--personImageSize);
  border: 0.125rem solid var(--color-dark-40);
  background-color: var(--color-dark-15);
  border-radius: 50%;
}
.hero-main .preview .team-person:not(:first-child) {
  margin-left: calc(var(--personImageSize) / 4 * -1);
}
@media (width <= 90.06125rem) {
  .hero-main .preview .team-person {
    border-width: 0.0625rem;
  }
}
.hero-main .preview-body {
  display: grid;
  row-gap: 0.875rem;
}
@media (width <= 90.06125rem) {
  .hero-main .preview-body {
    row-gap: 0.375rem;
  }
}
@media (width <= 90.06125rem) {
  .hero-main .preview-title {
    font-size: 1.25rem;
  }
}
@media (width <= 90.06125rem) {
  .hero-main .preview-subtitle {
    font-size: 1rem;
  }
}
.hero-advantages {
  border-block: var(--border);
}
@media (width > 63.99875rem) {
  .hero-advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.hero-advantages__item {
  --paddingX: 5rem;
  padding-block: 3.125rem;
}
@media (width <= 90.06125rem) {
  .hero-advantages__item {
    --paddingX: 3.125rem;
    padding-right: 1.875rem;
    padding-block: 2.5rem;
  }
}
@media (width > 90.06125rem) {
  .hero-advantages__item:not(:first-child) {
    padding-left: var(--paddingX);
  }
  .hero-advantages__item:not(:last-child) {
    padding-right: var(--paddingX);
    border-right: var(--border);
  }
}
@media (width <= 63.99875rem) {
  .hero-advantages__item {
    padding-block: 1.875rem;
    padding-right: 0;
  }
  .hero-advantages__item:not(:last-child) {
    border-bottom: var(--border);
  }
}
.hero-advantages__item .advantage-card {
  display: grid;
  row-gap: 1.875rem;
}
@media (width <= 90.06125rem) {
  .hero-advantages__item .advantage-card {
    row-gap: 1.25rem;
  }
}
@media (width <= 47.99875rem) {
  .hero-advantages__item .advantage-card {
    row-gap: 0.875rem;
  }
}
@media (width <= 90.06125rem) {
  .hero-advantages__item .advantage-card__image {
    width: 2.5rem;
  }
}
@media (width <= 47.99875rem) {
  .hero-advantages__item .advantage-card__image {
    width: 1.875rem;
  }
}
.hero-advantages__item .advantage-card__link {
  --circleSize: 3.25rem;
  --circleMarginLeft: 1.25rem;
  position: relative;
  display: grid;
  row-gap: 0.25rem;
  padding-right: calc(var(--circleSize) + var(--circleMarginLeft));
}
.hero-advantages__item .advantage-card__link::after {
  width: var(--circleSize);
  height: var(--circleSize);
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  content: "";
  right: 0;
  background: url("../../icons/black-arrow-icon.svg") center no-repeat var(--color-accent);
  border-radius: 50%;
}
@media (width <= 90.06125rem) {
  .hero-advantages__item .advantage-card__link {
    --circleSize: 2.75rem;
    --circleMarginLeft: 0.875rem;
    row-gap: 0.125rem;
  }
}
@media (width <= 47.99875rem) {
  .hero-advantages__item .advantage-card__link {
    --circleSize: 2.5rem;
  }
}
@media (width <= 47.99875rem) {
  .hero-advantages__item .advantage-card__title {
    font-size: 1rem;
    font-weight: 500;
  }
}
@media (width <= 47.99875rem) {
  .hero-advantages__item .advantage-card__subtitle {
    font-size: 0.875rem;
  }
}
.hero-advantages__item .advantage-card__details {
  font-size: clamp(0.875rem, 0.7794117647rem + 0.3921568627vw, 1.25rem);
  font-family: var(--font-family-accent);
}

.features-header {
  padding-block: clamp(2.5rem, 1.2254901961rem + 5.2287581699vw, 7.5rem);
  border-bottom: 1px solid var(--color-dark-15);
  background-color: var(--color-dark-10);
}
.features-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.features-info .info .section-title {
  font-weight: 500;
  margin-top: 1rem;
}
@media (width <= 90.06125rem) {
  .features-info .info .section-title {
    font-size: 2.75rem;
    margin-top: 0.625rem;
  }
}
@media (width <= 63.99875rem) {
  .features-info .info .section-title {
    font-size: 1.75rem;
  }
}

/*# sourceMappingURL=main.css.map */
